.react-joyride__tooltip {
  background-color: var(--overlay-dark) !important;
  color: var(--text-light) !important;
  font-family: "Montserrat", serif !important;
  border-radius: 30px;
  padding: 24px 10px !important;
  font-weight: bold;
  margin: auto !important;
}

.react-joyride__tooltip button {
  color: var(--text-light) !important;
  font-weight: bold;
}

.react-joyride__tooltip button:nth-child(2) {
  background-color: var(--primary-red-light) !important;
  border-radius: 9px !important;
}

[data-test-id="button-primary"] {
  background-color: var(--primary-red-light) !important;
  border-radius: 9px !important;
}

[data-test-id="button-close"] {
  display: none !important;
}

.__floater__arrow span svg {
  display: none !important;
}
