.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 153px;
  width: 100%;
}

.actions svg {
  width: 20px;
  height: 20px;
}

.actions button {
  width: 48%;
  height: 45px;
  border-radius: 40px;
  font-size: 16px;
  margin-bottom: 6px;
  background-color: transparent;
  color: #ececda;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
}

.actions button:nth-child(1) {
  border: 3px solid #ff7e7e;
}
.actions button:nth-child(2) {
  border: 3px solid #ee69ff;
}
.actions button:nth-child(3) {
  border: 3px solid #71e4ff;
}
.actions button:nth-child(4) {
  border: 3px solid #b0ff9f;
}
.actions button:nth-child(5) {
  border: 3px solid #fff362;
}
.actions button:nth-child(6) {
  border: 3px solid #000000;
}

.actions button:nth-child(1):hover {
  box-shadow: 0 0 30px #ff7e7e;
}
.actions button:nth-child(2):hover {
  box-shadow: 0 0 30px #ee69ff;
}
.actions button:nth-child(3):hover {
  box-shadow: 0 0 30px #71e4ff;
}
.actions button:nth-child(4):hover {
  box-shadow: 0 0 30px #b0ff9f;
}
.actions button:nth-child(5):hover {
  box-shadow: 0 0 30px #fff362;
}
.actions button:nth-child(6):hover {
  box-shadow: 0 0 30px #000000;
}

.actions button:disabled {
  opacity: 0.5;
}
.actions button:disabled:hover {
  box-shadow: 0;
}

.actions button img {
  position: absolute;
  left: 15px;
  top: 13px;
}
