.tamaguchi {
  overflow-y: auto; 
  background-color: transparent;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 85dvh;
  transform: translateY(50px);
  animation: fade-in-up 1s ease-out forwards;
}

.scenario {
  height: 17dvh;
  background-size: cover;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scenario img {
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 30px;
  right: 30%;
  margin: auto;
}

.beast-interaction {
  position: relative;
  display: flex;
  height: 37px;
}

.beast-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.beast-interaction .actions-icon {
  width: 35px;
  cursor: pointer;
  margin-right: 0px;
  grid-column: 3;
  justify-self: end;
}

.age-indicator {
  border-radius: 50%;
  background-color: var(--overlay-dark-light);
  width: 35px;
  height: 35px;
  margin-left: 0px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.age-info {
  width: 100px;
  position: absolute;
  left: 35px;
  background-color: var(--overlay-dark-light);
  color: var(--text-light);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.age-info img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chat-toggle {
  background-color: var(--overlay-dark-light);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-toggle img {
  width: 25px;
  height: 25px;
}

.age-indicator span {
  color: var(--text-light);
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
}

.back-button {
  background-color: var(--overlay-dark-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px; 
  height: 35px;
  margin-right: 0px;
  position: absolute;
  right: 40px;
}

.beast-interaction .icon-circle .actions-icon {
  width: 25px;
  height: 25px;
}

.drag-over {
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
