.game-selection-container {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 15px 0;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.game-selection-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  gap: 15px;
  padding: 0;
  margin: 0;
  height: 100%;
}

.game-selection-grid::-webkit-scrollbar {
  display: none;
}

.game-card {
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
  scroll-snap-align: start;
  min-width: 0;
  max-width: none;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ececda;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  grid-column: 1 / 2;
}

.game-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2 / 3;
}

.game-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.game-description {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  line-height: 1.2;
}

.game-high-score {
  font-size: 12px;
  font-family: 'Kallisto', sans-serif;
  color: #ececda;
  margin: 0;
}

@media (max-width: 600px) {
  .game-selection-container {
    padding: 10px 10px;
  }

  .game-selection-grid {
    padding: 0
  }

  .game-card {
    padding: 5px;
  }

  .game-icon {
    width: 48px;
    height: 48px;
  }

  .game-name {
    font-size: 18px;
  }

  .game-description {
    font-size: 14px;
  }
}