@import '../../styles/utilities.css';

.navbar {
  width: 100%;
  max-width: 400px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 15px;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-toggle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 3;
  padding: 0;
  background-color: var(--text-light);
}

.toggle-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.side-menu-container {
  display: flex;
  position: relative;
}

.side-menu {
  position: absolute;
  right: -15px;
  top: 50px;
  width: 200px;
  background-color: var(--overlay-dark-light);
  border-radius: 15px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.side-menu.expanded {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.side-menu .item {
  background-color: var(--text-light);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 7px 5px;
  cursor: pointer;
}

.side-menu .menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.side-menu span {
  color: var(--primary-red-light);
  margin-left: 10px;
  font-weight: bold;
}

.icon-container {
  composes: circle-button;
  background-image: url('../../assets/img/icon-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-container img {
  width: 20px;
  height: 20px;
  border-radius: unset;
  object-fit: contain;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
