.spawn-beast {
  width: calc(100dvw - 30px);
  max-width: 400px;
  height: 92dvh;
  max-width: 400px;
  overflow: hidden;
  margin: 0 auto 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
}

.initial-beast {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #616140;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.initial-beast .actions-icon {
  width: 45%;
  margin-bottom: 8px;
}

.initial-beast .initial-info {
  height: unset;
}

.initial-beast .egg {
  width: 55%;
  margin-bottom: 28px;
}

.initial-info {
  width: 100%;
  max-height: 60dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  margin: 0;
  text-align: center;
  border-radius: 15px;
}

.initial-info h4 {
  margin: 12px auto;
  font-size: 18px;
  color: #ECECDA;
  font-weight: bold;
}

.initial-info p {
  color: #ECECDA;
  margin-bottom: 10px;
  font-size: 14px;
}

.initial-info .button {
  height: 50px;
}